header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0; 
    margin-top: 60px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 1000;
    background-color: #98989A; 
    width: 100%; 
}

.myHeader {
    list-style: none;
    padding: 8px;
    margin: 0; 
}

header li {
    display: inline-block;
    margin-left: 20px;
}

header a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    header {
        justify-content: center;
    }
    header li {
        margin-left: 5px;
    }
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #BC955C;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr; 
    }
}

.container-1{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #10312B;
}

.container-1 h1{
    padding-left: 40px;
    color: #DDC9A3;
    font-size: 80px;
    text-align: left;
}

.container-1 img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1080px) {
    .container-1 {
        grid-template-columns: 1fr; 
    }
    .container-1 h1 {
        font-size: 60px; 
    }
}
    
.container-2{
    text-align: center;
    padding-top: 40px;
}

.container-2 img{
    width: 200px;
    height: 80px;
}

.imagen2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen2 img{
    width: 80%;
    height: 80%;
}

.container-2 h3{
    color:  #235B4E;
}
    
.container-2-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: left;
}

.container-2-1 p {
    max-width: 1100px;
    color:  #98989A;
}

.container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 40px;
    gap: 20px;
}

.container-3 img {
    width: 100%;
    height: 100%;
}

.container-3 h3 {
    color: #6F7271;
}

.container-3 p {
    color:  #98989A;
}

@media (max-width: 880px) {
    .container-3 {
        grid-template-columns: 1fr; 
    }

    .container-3 h3{
        text-align: center;
    }

    .container-3 p{
        text-align: center;
    }
}

.container-4{
    padding: 100px;
    color: #6F7271;
}






