header {
    position: fixed; 
    top: 0; 
    left: 0;
    right: 0;
    margin-top: 50px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    z-index: 1000; 
}

header ul {
    list-style: none; 
    padding: 0; 
}

header li {
    display: inline-block;
    margin-left: 20px; 
}

header a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: none; 
}

@media (max-width: 768px) {
    header {
        justify-content: center; 
    }
    header li {
        margin-left: 10px; 
    }
}

.container-1{
    padding: 100px;
    background-color: #0d221e;
}

.container-1 h1{
    color: goldenrod;
    font-size: 80px;
    text-align: right;
}

.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: left;
}

.container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: center;
}

.container-4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
}

.container-5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    text-align: left;
}

.container-6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
    gap: 10px;
    row-gap: 10px;
    text-align: center;
    justify-items: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

.container-6 p{
    font-size: 20px;
    color: red;
}

.container-6 a{
    padding: 10px;
    background-color: red;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #0d221e;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr; 
    }
}